/* You can add global styles to this file, and also import other style files */
body,div,ul,li{
    margin: 0px;
    padding:0px;
    font-family: 'Open Sans', sans-serif;
}
body{
    background: #004281;
}