h1{
  padding: 14px 0px 4px 27px;
  margin: 0;
  font-size: 21px;
  color: #004281;
}

table {
    width: 100%;
    text-align: left;
}
td i{
  color: #004281;
  cursor: pointer;
}
table{
  width: 95%;
  border-collapse: collapse;
  text-align: left;
  overflow: hidden;
  margin: 2%;
    
   td, th{
      border-top: 1px solid #ECF0F1;
      padding: 10px;
    }
    
    td{
      border-left: 1px solid #ECF0F1;
      border-right: 1px solid #ECF0F1;
    }
    
    th{
      background-color: #004281;
      color: #fff;
      border-right: 1px solid;
    }
    
    tr:nth-of-type(even) td{
      background-color: lighten(#4ECDC4, 35%);
    }
    
    .total{
      th{
        background-color: white;
      }
      
      td{
        text-align: right;
        font-weight: 700;
      }
    }
  }
  
    .mobile-header{
      display: none;
    }
  td a{
    padding-right: 10px;
  }
  .adduser {
    float: right;
    border: 1px solid #004281;
    margin-right: 10px;
    margin-bottom: 10px;
}
.adduser a{
  color: #004281;
  padding: 14px 20px;
}
.adduser a{
  color: #004281;
  padding: 5px 20px;
  display: block;
  text-decoration: none;
}
.adduser a:hover{
  background-color: #004281;
  color: #fff !important;
}
.msg{
  display: block;
  padding-top: 3px;
  margin-left: 10px;
}

.info{
  background: #709170;
  color: #fff;
  padding: 10px 0px;
  text-indent: 20px;
  border-left: 10px solid #004281;
  margin-bottom: 5px;
}


  @media only screen and (max-width: 760px){
    p{
      display: block;
      font-weight: bold;
    }
    
    table{
      tr{
        td:not(:first-child), th:not(:first-child), td:not(.total-val){
          display: none;
        }
        
        &:nth-of-type(even) td:first-child{
          background-color: lighten(#4ECDC4, 35%);
        }
        &:nth-of-type(odd) td:first-child{
          background-color: white;
        }
        
        &:nth-of-type(even) td:not(:first-child){
          background-color: white;
        }
        
        th:first-child{
          width: 100%;
          display:block;
        }
        
        th:not(:first-child){
          width: 40%;
          transition: transform 0.4s ease-out;
          transform:translateY(-9999px);
          position: relative;
          z-index: -1;
        }
        
        td:not(:first-child){
          transition: transform 0.4s ease-out;
          transform:translateY(-9999px);
          width: 60%;
          position: relative;
          z-index: -1;
        }
        
        td:first-child{
          display: block;
          cursor: pointer;
        }
        
        &.total th{
          width: 25%;
          display: inline-block;
        }
        
        td.total-val{
          display: inline-block;
          transform: translateY(0);
          width: 75%;
        }
      }
    }
  }
  
  @media only screen and (max-width: 300px){
    table{
      tr{
        th:not(:first-child){
          width: 50%;
          font-size: 14px;
        }
        
        td:not(:first-child){
          width: 50%;
          font-size: 14px;
        }
      }
    }
  }